[defaults]
roles_path = ./roles
inventory = ./inventory/hosts.ini
host_key_checking = False
timeout = 120
deprecation_warnings = False
remote_user = ubuntu
private_key_file = ~/.ssh/dojangkok-key.pem
